@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This page is not pretty.  But if you can see this.......it compiles</p>
</div>
@section scripts{
  
}